name: Mirror to GitLab

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  delete:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Clone bare and push to GitLab
        env:
          GITLAB_URL: https://constantine:${{ secrets.GITLAB_TOKEN }}@gitlab.macris.me/phd/NEMO.git
        run: |
          git clone --bare https://github.com/${{ github.repository }}.git repo.git
          cd repo.git
          git push --mirror "$GITLAB_URL"
